:root {
    --color-back: #eded80;
    --color-text: #000;
    --color-primary-brand: #f28a30;
}

* *::before *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--color-text);
    background-color: var(--color-inverted);
}

.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.list {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.alt-top-header{
    display: flex;
    height: 40px;
    color: #fff;
    background-color: var(--color-primary-brand);
    
}

.alt-top-header__contacts{
    display: flex;

}

/*.alt-top-header__contacts__list{
    display: flex;
    flex-direction: row;
    gap: 40px;
}*/