:root {
    --color-text: #000;
    --color-peach: #d86338;
    --color-buckthorn: #f0a400;
    --color-sand: #eed676;
    --color-salad: #a1bb5a;
    --color-grass: #638b19;
}

* *::before *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Fuzzy+Bubbles', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--color-text);
    background-color: white;
}

.container {
    max-width: 428px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }
}

.list {
    display: flex;
    list-style-type: none;
    gap: 24px;
}

.img {
    display: block;
    max-width: 100%;
}

/* ===================================== HEADER ===================================== */

.header{
    
}

.header-container {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    font-size: 14px;
    color: white;
    fill: white;
    background-color: var(--color-peach);
}

.header-contacts{
    /*display: flex;*/

}

.socials {
    /*display: flex;*/
}

.social-icon {
    width: 24px;
    height: 24px;
    fill: inherit;
    margin-right: 6px;
}

.address-list {
    /*display: flex;*/
    /*color: white;*/
}

.address-list-item {
    /*display: flex;
    align-items: center;*/
}

.address-list-contact {
    text-decoration: none;
    color: inherit;
}


/* ===================================== FOOTER ===================================== */

.footer-container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-peach);
}

.footer-list {
    display: inline;
}