:root {
    --color-back: #eded80;
    --color-text: #000;
    --color-primary-brand: #f28a30;
}

* *::before *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: var(--color-text);
    background-color: var(--color-inverted);
}

.container {
    max-width: 428px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }
}

.list {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.img {
    display: block;
    max-width: 100%;
}

/* ===================================== HEADER ===================================== */

.header{
    
}

.header-container {
    color: #fff;
    background-color: var(--color-primary-brand);
}

.header-contacts{
    display: flex;

}

/*.alt-top-header__contacts__list{
    display: flex;
    flex-direction: row;
    gap: 40px;
}*/